.span_c {
}

.span_r {
	background-color: blue;
}

/*Suppresion*/
.span_s {
	background-color: red;
}

/*Insertion*/
.span_i {
	background-color: green;
}

html, body {
	height: 100%;
}

.col-4 {
	overflow-y: scroll;
}